<h1>Scrum Checklist</h1>
<%= link_to "back to teams", teams_path %>

<div id="bottomline">
	<h2>The bottom line</h2>
	<p>If you achieve these you can ignore the rest of the checklist. Your process is fine.</p>

	<div class="parent"><span class="box">&#x274F;</span> Delivering <strong>working, tested software</strong> every 4 weeks or less</div>
	<div class="parent"><span class="box">&#x274F;</span> Delivering what the <strong>business needs</strong> most</div>
	<div class="parent"><span class="box">&#x274F;</span> Process is <strong>continuously improving</strong></div>
</div>

<div id="corescrum">
	<h2>Core Scrum</h2>
	<p>These are central to Scrum. Without these you probably shouldn't call it Scrum.</p>
	<div class="parent"><span class="box">&#x274F;</span> <strong>Retrospective</strong> happens after every sprint</div>
	<div class="child"><span class="box">&#x274F;</span> Results in concrete improvement <strong>proposals</strong></div>
	<div class="child"><span class="box">&#x274F;</span> Some proposals actually get <strong>implemented</strong></div>
	<div class="child"><span class="box">&#x274F;</span> <strong>Whole team + PO</strong> participates</div>

	<div class="parent"><span class="box">&#x274F;</span> Clearly defined <strong>product owner</strong> (PO)</div>
	<div class="child"><span class="box">&#x274F;</span> PO is <strong>empowered</strong> to prioritized</div>
	<div class="child"><span class="box">&#x274F;</span> PO has <strong>knowledge</strong> to prioritize</div>
	<div class="child"><span class="box">&#x274F;</span> PO has direct <strong>contact with team</strong></div>
	<div class="child"><span class="box">&#x274F;</span> PO has direct <strong>contact with stakeholders</strong></div>
	<div class="child"><span class="box">&#x274F;</span> PO is <strong>one person</strong></div>

	<div class="parent"><span class="box">&#x274F;</span> PO has a <strong>product backlog</strong> (PBL)</div>
	<div class="child"><span class="box">&#x274F;</span> Top items are <strong>prioritized</strong> by business value</div>
	<div class="child"><span class="box">&#x274F;</span> Top items are <strong>estimated</strong></div>
	<div class="child"><span class="box">&#x274F;</span> Estimates written by the <strong>team</strong></div>
	<div class="child"><span class="box">&#x274F;</span> Top items in PBL <strong>small enough</strong> to fit in a sprint</div>
	<div class="child"><span class="box">&#x274F;</span> PO understands <strong>purpose</strong> of all backlog items</div>

	<div class="parent"><span class="box">&#x274F;</span> Team has a <strong>task board</strong></div>
	<div class="child"><span class="box">&#x274F;</span> Highly <strong>visible</strong></div>
	<div class="child"><span class="box">&#x274F;</span> <strong>Updated</strong> daily</div>
	<div class="child"><span class="box">&#x274F;</span> Owned exclusively by the <strong>team</strong></div>

	<div class="parent"><span class="box">&#x274F;</span> <strong>Daily Scrum</strong> happens</div>
	<div class="child"><span class="box">&#x274F;</span> Whole team participates</div>
	<div class="child"><span class="box">&#x274F;</span> Problems and impediments are surfaced</div>

	<div class="parent"><span class="box">&#x274F;</span> Have sprint <strong>planning</strong> meetings</div>
	<div class="child"><span class="box">&#x274F;</span> PO participates</div>
	<div class="child"><span class="box">&#x274F;</span> PO brings <strong>up-to-date</strong> PBL</div>
	<div class="child"><span class="box">&#x274F;</span> <strong>Whole team</strong> participates</div>
	<div class="child"><span class="box">&#x274F;</span> Only <strong>READY</strong> stories are included in the sprint</div>
	<div class="child"><span class="box">&#x274F;</span> Whole team believes plan is <strong>achievable</strong></div>
	<div class="child"><span class="box">&#x274F;</span> PO satisfied with priorities</div>

	<div class="parent"><span class="box">&#x274F;</span> Timeboxed <strong>iterations</strong></div>
	<div class="child"><span class="box">&#x274F;</span> Iteration length 2 weeks or less</div>
	<div class="child"><span class="box">&#x274F;</span> Always <strong>end on time</strong></div>
	<div class="child"><span class="box">&#x274F;</span> Team <strong>not disrupted</strong> or controlled by outsiders</div>
	<div class="child"><span class="box">&#x274F;</span> Team usually <strong>delivers</strong> what they committed to</div>

	<div class="parent"><span class="box">&#x274F;</span> <strong>Demo</strong> happens after (or during) every sprint</div>
	<div class="child"><span class="box">&#x274F;</span> Shows <strong>working, tested</strong> software</div>
	<div class="child"><span class="box">&#x274F;</span> <strong>Feedback</strong> received from stakeholders and PO</div>

	<div class="parent"><span class="box">&#x274F;</span> Have <strong>Definition of Done</strong> (DoD)</div>
	<div class="child"><span class="box">&#x274F;</span> Team respects DoD</div>

	<div class="parent"><span class="box">&#x274F;</span> Team members sit together</div>
	<div class="child"><span class="box">&#x274F;</span> Max 9 people per team</div>
</div>

<div id="recommended">
	<h2>Recommended but not always necessary</h2>
	<p>Most of these will usually be needed, but not always all of them. Experiment!</p>
	<div class="parent"><span class="box">&#x274F;</span> Team <strong>has all skills</strong> needed to bring backlog items to Done</div>
	<div class="parent"><span class="box">&#x274F;</span> Team members not locked into specific roles</div>
	<div class="parent"><span class="box">&#x274F;</span> Iterations that are doomed to fail are terminated early</div>
	<div class="parent"><span class="box">&#x274F;</span> PO has <strong>product vision</strong> that is in sync with PBL</div>
	<div class="parent"><span class="box">&#x274F;</span> PBL and product vision is highly visible</div>
	<div class="parent"><span class="box">&#x274F;</span> <strong>Everyone</strong> on the team participates in estimating</div>
	<div class="parent"><span class="box">&#x274F;</span> PO available when team is estimating</div>
	<div class="parent"><span class="box">&#x274F;</span> Estimate <strong>relative size</strong> (story points) rather than time</div>
	<div class="parent"><span class="box">&#x274F;</span> Whole team knows top 1-3 impediments</div>
	<div class="child"><span class="box">&#x274F;</span> <strong>Team</strong> has strategy for how to fix top impediment</div>
	<div class="child"><span class="box">&#x274F;</span> SM focusing on removing impediments</div>
	<div class="child"><span class="box">&#x274F;</span> Escalated to management when team can't solve</div>
	<div class="parent"><span class="box">&#x274F;</span> Team has a ScrumMaster (SM)</div>
	<div class="child"><span class="box">&#x274F;</span> SM sits with the team</div>
	<div class="parent"><span class="box">&#x274F;</span> Velocity is measured</div>
	<div class="child"><span class="box">&#x274F;</span> All items in sprint have <strong>estimate and acceptance criteria</strong></div>
	<div class="child"><span class="box">&#x274F;</span> Velocity only includes items that are <strong>done</strong></div>
	<div class="parent"><span class="box">&#x274F;</span> Team has a sprint burndown/burnup chart</div>
	<div class="child"><span class="box">&#x274F;</span> Highly visible</div>
	<div class="child"><span class="box">&#x274F;</span> Updated daily</div>
	<div class="child"><span class="box">&#x274F;</span> Burnup only story points that are <strong>done</strong></div>
	<div class="parent"><span class="box">&#x274F;</span> Daily Scrum is every day, same time and place</div>
	<div class="child"><span class="box">&#x274F;</span> PO participates</div>
	<div class="child"><span class="box">&#x274F;</span> Max 15 minutes</div>
	<div class="child"><span class="box">&#x274F;</span> Each team member knows what the others are doing</div>
	<div class="child"><span class="box">&#x274F;</span> Team <strong>swarms on highest priorities</strong> first</div>
</div>

<div id="scaling">
	<h2>Scaling</h2>
	<p>These are pretty fundamental to any Scrum scaling effort.</p>
	<div class="parent"><span class="box">&#x274F;</span> You have a Chief Product Owner</div>
	<div class="parent"><span class="box">&#x274F;</span> Dependent teams do Scrum of Scrums</div>
	<div class="parent"><span class="box">&#x274F;</span> Dependent teams integrate within each sprint</div>
</div>

<div id="positiveindicators">
	<h2>Positive indicators</h2>
	<p>Leading indicators of a good Scrum Implementation.</p>
	<div class="parent"><span class="box">&#x274F;</span> <strong>Having fun!</strong> High energy level</div>
	<div class="parent"><span class="box">&#x274F;</span> Overtime work is rare and happens voluntarily</div>
	<div class="parent"><span class="box">&#x274F;</span> Discussing, criticizing, and experimenting with the process</div>
	<div class="parent"><span class="box">&#x274F;</span> Team actively Scrumming the Scrum with kaizen stories</div>
</div>

<p>PO = Product Owner | SM = ScrumMaster | PBL = Product Backlog | DoD = Definition of Done</p>
<p>See <a href="http://jeffsutherland.com/scrum-checklist.pdf">http://jeffsutherland.com/scrum-checklist.pdf</a> for the original checklist by Henrik Kniberg.</p>
