/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
	margin: 0px;
	padding: 0px;
	background-color: #ddd !important;
}

#head {
	height: 125px;
	background-color: #454545;
}

#thinstrip {
	height: 20px;
	background-color: CornflowerBlue;
}

#sitename {
	margin-top: 10px;
	margin-left: auto;
	margin-right: 0px;
	width:275px;
	height: 30px;
	padding: 10px;
	text-align: right;
}

#usernav {
	margin-left: auto;
	margin-right: 0px;
	width:275px;
	color: white;
	text-align: right;
	padding: 10px;
}

#sitename a {
	font-family: 'Raleway', cursive;
	font-size: 48px;
	color: white;
	font-weight: bold;
	text-decoration: none;
}

#sitename a:hover {
	background-color: #454545 !important;	
}

#nav {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

#content {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	padding: 10px;
	padding-bottom: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
	border: 1px solid #454545;
}

#foot {
	height: 200px;
	background-color: #454545;
}

h1 {
	font-family: 'Raleway', cursive;
	font-size: 36px;
	color: CornflowerBlue;
	text-transform: lowercase;
}

h2 {
	font-family: 'Raleway', cursive;
	font-size: 24px;
	color: black;
	text-transform: lowercase;
}

.button {
	text-transform: lowercase;
  padding: 10px 25px 10px 25px;
  font-family: 'Raleway', cursive;
	font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff !important;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;

   background: #12295d;
  background: -moz-linear-gradient(#245192, #1e3b73 75%, #12295d);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #245192),color-stop(.75, #1e3b73),color-stop(1, #12295d));
  border: 1px solid #0f2557;
}

.button:hover {
   background: #618926;
  background: -moz-linear-gradient(#98ba40, #a6c250 35%, #618926);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #98ba40),color-stop(.35, #a6c250),color-stop(1, #618926));
  border: 1px solid #618926;
}

.testCertificationLevel {
	display: inline-block;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-weight: bold;
}

.testCertificationLevel0 {
	color: black;
	background-color: Beige;
	width: 16%;
}

.testCertificationLevel1 {
	color: black;
	background-color: #e0e9f9;
	width: 32%;
}

.testCertificationLevel2 {
	color: black;
	background-color: #c1d4f6;
	width: 48%;
}

.testCertificationLevel3 {
	color: black;
	background-color: #a2bff3;
	width: 64%;
}

.testCertificationLevel4 {
	color: white;
	background-color: #83aaf0;
	width: 80%;
}

.testCertificationLevel5 {
	color: white;
	background-color: #6495ed;
	width: 96%;
}

/* Tooltip */

a.nolink {
	cursor: help;
}

.circleButtonSmall {
	width: 16px;
	height: 16px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	font-size: 10px;
	line-height: 16px;
	text-align: center;
	color: #fff;
	background: Orange;
	display: inline-block;
}

.circleButton {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	font-size: 15px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	background: Orange;
	display: inline-block;
}

.circleButton:hover, .circleButtonSmall:hover {
	background: #12295d;
}
 
#tooltip {
	border: 1px solid #12295d;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
    position:absolute;
    z-index:9999;
    color:black;
    font-size:10pt;
    width:200px;
    text-align: left;
	line-height: normal;
	padding: 10px;
    background-color:#ddd;
	text-transform: none;
}
 
#tooltip .tipHeader {
}
 
/* IE hack */
*html #tooltip .tipHeader {margin-bottom:-6px;}
 
#tooltip .tipBody {
}
 
#tooltip .tipFooter {
}

.parent {
	margin-top: 10px;
}

.child {
	margin-left: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.box {
	font-size: 1.5em;
}

#bottomline, #corescrum, #recommended, #scaling, #positiveindicators {
	border-top: 1px dotted #bbb;
	margin-top: 15px;
}
