body {
  margin: 0px;
  padding: 0px;
  background-color: #ddd !important;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}


#head {
	height: 125px;
	background-color: #454545;
}

#thinstrip {
	height: 20px;
	background-color: CornflowerBlue;
}

#sitename {
	margin-top: 10px;
	margin-left: auto;
	margin-right: 0px;
	width:275px;
	height: 30px;
	padding: 10px;
	text-align: right;
}

#usernav {
	margin-left: auto;
	margin-right: 0px;
	width:275px;
	color: white;
	text-align: right;
	padding: 10px;
}

#sitename a {
	font-family: 'Raleway', cursive;
	font-size: 48px;
	color: white;
	font-weight: bold;
	text-decoration: none;
}

#sitename a:hover {
	background-color: #454545 !important;	
}

#nav {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

#content {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	padding: 10px;
	padding-bottom: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
	border: 1px solid #454545;
}

#foot {
	height: 200px;
	background-color: #454545;
}

h1 {
	font-family: 'Raleway', cursive;
	font-size: 36px;
	color: CornflowerBlue;
	text-transform: lowercase;
}

h2 {
	font-family: 'Raleway', cursive;
	font-size: 24px;
	color: black;
	text-transform: lowercase;
}

.button {
	text-transform: lowercase;
  padding: 10px 25px 10px 25px;
  font-family: 'Raleway', cursive;
	font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff !important;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;

   background: #12295d;
  background: -moz-linear-gradient(#245192, #1e3b73 75%, #12295d);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #245192),color-stop(.75, #1e3b73),color-stop(1, #12295d));
  border: 1px solid #0f2557;
}

.button:hover {
   background: #618926;
  background: -moz-linear-gradient(#98ba40, #a6c250 35%, #618926);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #98ba40),color-stop(.35, #a6c250),color-stop(1, #618926));
  border: 1px solid #618926;
}

.testCertificationLevel {
	display: inline-block;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-weight: bold;
}

.testCertificationLevel0 {
	color: black;
	background-color: Beige;
	width: 16%;
}

.testCertificationLevel1 {
	color: black;
	background-color: #e0e9f9;
	width: 32%;
}

.testCertificationLevel2 {
	color: black;
	background-color: #c1d4f6;
	width: 48%;
}

.testCertificationLevel3 {
	color: black;
	background-color: #a2bff3;
	width: 64%;
}

.testCertificationLevel4 {
	color: white;
	background-color: #83aaf0;
	width: 80%;
}

.testCertificationLevel5 {
	color: white;
	background-color: #6495ed;
	width: 96%;
}

a.nolink {
	cursor: help;
}

.circleButtonSmall {
	width: 16px;
	height: 16px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	font-size: 10px;
	line-height: 16px;
	text-align: center;
	color: #fff;
	background: Orange;
	display: inline-block;
}

.circleButton {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	font-size: 15px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	background: Orange;
	display: inline-block;
}

.circleButton:hover, .circleButtonSmall:hover {
	background: #12295d;
}
 
#tooltip {
	border: 1px solid #12295d;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
    position:absolute;
    z-index:9999;
    color:black;
    font-size:10pt;
    width:200px;
    text-align: left;
	line-height: normal;
	padding: 10px;
    background-color:#ddd;
	text-transform: none;
}
 
#tooltip .tipHeader {
}
 

*html #tooltip .tipHeader {margin-bottom:-6px;}
 
#tooltip .tipBody {
}
 
#tooltip .tipFooter {
}

.parent {
	margin-top: 10px;
}

.child {
	margin-left: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.box {
	font-size: 1.5em;
}

#bottomline, #corescrum, #recommended, #scaling, #positiveindicators {
	border-top: 1px dotted #bbb;
	margin-top: 15px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color: #000; }

pre { background-color: #eee; padding: 10px; font-size: 11px; }
p, ol, ul, td { font-family: verdana, arial, helvetica, sans-serif; font-size: 13px; line-height: 18px; }
div.field, div.actions { margin-bottom: 10px; }
#notice { color: green; }

.field_with_errors { padding: 2px; background-color: red; display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* sprint */

table {
	border: 1px solid black;
	border-collapse: collapse;
}

table th {
	background-color: #454545;
	color: #eee;
	font-weight: normal;
	text-transform: lowercase;
}

table th, table td {
	border: 1px solid #ddd;
	padding: 5px;
}

table.sprints th.sprintInfo, table.sprints th.actuals, table.sprints th.tests {
	background-color: CornflowerBlue;
}

.alignNumber {
	text-align: center;
}

.effectiveTeamSize {
	background-color: #eee;
}

.field label {
	display: inline-block;
	vertical-align: top;
	width: 130px;
}

.field .indentField {
	margin-left: 130px;
}

.field input, .field textarea, .field select {
	border: 1px solid CornflowerBlue;
	padding: 10px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 12pt;
	text-align: right;
}

.field textarea {
	text-align: left !important;
}

.actions {
	margin-left: 130px;
	padding: 3px;
}

.column {
	float: left;
	margin: auto;
	margin-right: 25px;
}

.leftAlign {
	text-align: left !important;
}

/* teams */

#summary {
	float: left;
	max-width: 250px;
}

#charts {
	margin-left: 250px;
}

#velocityTrend, #efficiencyTrend, #processTrend, #teamSizeTrend, #testsTrend, #coverageTrend {
	width: 100%;
	height: 300px;
}

.clear {
	clear: both;
}

.target {
	font-family: 'Raleway', cursive;
	font-size: 48px;
	color: CornflowerBlue;
	text-transform: lowercase;
	text-align: center;
	height: 60px;
}

.teamHeading, .teamHeading td {
	border: none;
	padding: 10px;
}

.ok {
	
}

.poor {
	color: red;
}

