// Place all the styles related to the Sprints controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
	border: 1px solid black;
	border-collapse: collapse;
}

table th {
	background-color: #454545;
	color: #eee;
	font-weight: normal;
	text-transform: lowercase;
}

table th, table td {
	border: 1px solid #ddd;
	padding: 5px;
}

table.sprints th.sprintInfo {
	background-color: CornflowerBlue;
}

table.sprints th.actuals {
	background-color: CornflowerBlue;
}

.alignNumber {
	text-align: center;
}

.effectiveTeamSize {
	background-color: #eee;
}

.field label {
	display: inline-block;
	width: 130px;
}

.field input, .field textarea {
	border: 1px solid CornflowerBlue;
	padding: 10px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 12pt;
	text-align: right;
}

.field textarea {
	text-align: left !important;
}

.actions {
	margin-left: 130px;
	padding: 3px;
}

.column {
	float: left;
	margin: auto;
	margin-right: 25px;
}
