// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#summary {
	float: left;
	max-width: 250px;
}

#charts {
	margin-left: 250px;
}

#velocityTrend, #efficiencyTrend, #processTrend, #teamSizeTrend, #testsTrend, #coverageTrend {
	width: 100%;
	height: 300px;
}

.clear {
	clear: both;
}

.target {
	font-family: 'Raleway', cursive;
	font-size: 48px;
	color: CornflowerBlue;
	text-transform: lowercase;
	text-align: center;
	height: 60px;
}
